/**
 * @file
 * _vdesign.scss mixing for Vdesign
 *
 */
 .front {
 	#page-title {
 		display: none;
 	}
 }
 #main-menu {
 	ul {
 		li {
 			a {
 				color: $white;
 				padding: 1em;
 				text-decoration: none;
 				display: block;
 			}
 		}
 		li:nth-child(1) a {
 			background: none repeat scroll 0 0 $green;
 		}
 		li:nth-child(2) a {
 			background: none repeat scroll 0 0 $orange;
 		}
 		li:nth-child(3) a {
 			background: none repeat scroll 0 0 $blue;
 		}
 		li:nth-child(4) a {
 			background: none repeat scroll 0 0 $yellow;
 		}
 		li:nth-child(5) a {
 			background: none repeat scroll 0 0 $aqua;
 		}
 		li:nth-child(5) a {
 			background: none repeat scroll 0 0 $pink;
 		}
 	}
 }