/**
 * @file
 * _vdesign.scss mixing for Vdesign
 *
 */
 .front {
 	#page-title {
 		display: none;
 	}
 }
 #main-menu {
 	ul {
 		li {
 			a {
 				border: 1px solid;
 				padding: 1em;
 				text-decoration: none;
 				display: block;
 			}
 		}
 	}
 }